/**
 * Remato color palette
 *
 * https://www.figma.com/file/IpGgFUV8d7JPviRf65mWZ2c5/COLORS
 *
 * NB! Make sure you update colors.ts as well.
 */

$black: #10191f;
$white: #fff;

$grey-900: #21292f;
$grey-800: #2a3339;
$grey-700: #40474f;
$grey-600: #6e757c;
$grey-400: #a7b0b6;
$grey-300: #ccd5db;
$grey-200: #e5eaed;

$blue-grey-300: #c2d6e5;
$blue-grey-200: #d1e2ef;
$blue-grey-100: #e8f0f7;
$blue-grey-50: #f3f8fb;

$green-700: #19860b;
$green-600: #33a025;
$green-500: #4cb93e;
$green-200: #d2edcf;
$green-100: #edf8ec;

$blue-700: #0053c2;
$blue-600: #006ddc;
$blue-500: #0e86f5;
$blue-300: #86c2fa;
$blue-200: #c3e1fc;
$blue-100: #e7f3fe;

$red-700: #ac1800;
$red-600: #c63209;
$red-500: #df4b22;
$red-200: #f7d2c8;
$red-100: #fcede9;

$orange-700: #bb7a00;
$orange-600: #d59400;
$orange-500: #eead09;

$yellow-500: #f7da61;
$yellow-200: #fdf6d7;
$yellow-100: #fefbef;
