/**
 * Remato font family and types
 *
 * https://www.figma.com/file/SlngpHTIfQuzqmecu4pple/%23-TYPOGRAPHY
 */
$font-family: 'Lato', 'Trebuchet MS', sans-serif;

$font-8: 400 8px/12px $font-family;
$font-8-bold: 700 8px/12px $font-family;
$font-8-16: 400 8px/16px $font-family;
$font-8-16-bold: 700 8px/16px $font-family;

$font-10: 400 10px/16px $font-family;
$font-10-bold: 700 10px/16px $font-family;
$font-10-12: 400 10px/12px $font-family;
$font-10-12-bold: 700 10px/12px $font-family;

$font-12: 400 12px/16px $font-family;
$font-12-bold: 700 12px/16px $font-family;
$font-12-20: 400 12px/20px $font-family;
$font-12-20-bold: 700 12px/20px $font-family;

$font-14: 400 14px/20px $font-family;
$font-14-bold: 700 14px/20px $font-family;
$font-14-16: 400 14px/16px $font-family;
$font-14-16-bold: 700 14px/16px $font-family;

$font-16: 400 16px/24px $font-family;
$font-16-bold: 700 16px/24px $font-family;
$font-16-20: 400 16px/20px $font-family;
$font-16-20-bold: 700 16px/20px $font-family;

$font-18: 400 18px/24px $font-family;
$font-18-bold: 700 18px/24px $font-family;

$font-20: 400 20px/28px $font-family;
$font-20-bold: 700 20px/28px $font-family;

$font-24: 400 24px/32px $font-family;
$font-24-bold: 700 24px/32px $font-family;

$font-28: 400 28px/36px $font-family;
$font-28-bold: 700 28px/36px $font-family;

$font-32: 400 32px/40px $font-family;
$font-32-bold: 700 32px/40px $font-family;

$font-36: 400 36px/44px $font-family;
$font-36-bold: 700 36px/44px $font-family;

$font-40: 400 40px/52px $font-family;
$font-40-bold: 700 40px/52px $font-family;
