@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes scale-fade {
	0% {
		opacity: 0;
		transform: scale3d(0.8, 0.8, 0.8);
	}

	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

// deprecated
@keyframes pulsate {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes shimmer {
	0% {
		background-position: -400px 0;
	}

	100% {
		background-position: 400px 0;
	}
}

@keyframes slide-up {
	0% {
		transform: translate3d(0, 100%, 0);
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}
